.btn-custom-header-dropdown-mobile {
  .btn {
    background: none;
    font-size: var(--font-up-4);
    color: var(--header_primary-low-mid);

    .d-icon {
      color: var(--header_primary-low-mid);
    }
  }
}
