@import "mixins";

.custom-header-links {
  display: flex;

  .custom-header-link {
    display: flex;
  }

  @media screen and (width <= 625px) {
    .top-level-links {
      @include dropdown;
      position: fixed;
      left: 0;
      margin: 0;
      top: var(--header-offset);
      width: 100%;
      flex-flow: row wrap;
      align-items: flex-start;
      align-content: flex-start;
      justify-content: flex-start;
      overflow: scroll;
      max-height: 90vh;
      list-style: none;
      padding-left: 1.25em;
      padding-bottom: 0;
      border-bottom: none;
      gap: 0.4rem;

      li {
        width: 100%;
        padding: 0;
        margin: 0;
      }

      li.custom-header-link {
        padding: 0;
      }
    }

    .custom-header-dropdown {
      display: block;
      position: initial;
      transform: scale(1);
      box-shadow: none;
      margin-top: 1rem;
      min-width: unset;

      .custom-header-link-desc {
        display: none;
      }
    }
  }
}

@media screen and (width <= 625px) {
  body.dropdown-header-open {
    overflow-y: hidden;
    height: 100vh;
    position: fixed;
  }
}
